@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.img-box span, 
.img-box img {
    width: 100% !important;
    height: 100% !important;
    max-width: none !important;
    max-height: none !important;
}
.absolute-center {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}